.form-control {
    width: 100% !important;
    margin: 0 auto;
    padding: 1rem !important;
    background: rgba(60, 60, 60, 0.36) !important;
    border: none !important;
    border-radius: 20px !important;
}

.form-control::placeholder {
    color: white !important;
}

.submitButton {
    font-weight: 500 !important;
    font-size: 20px !important;
}

#rebuildImage {
    border-radius: 20px 0px 0px 20px;
}
@media only screen and (max-width: 576px) {
    #rebuildImage {
        border-radius: 0px;
    }
    .fs-30{
        font-size: 16px;
    }
    .mediaImg{
        width: 15%;
    }
}