.form-control {
    width: 100% !important;
    margin: 0 auto;
    padding: 1rem !important;
    background: rgba(60, 60, 60, 0.36) !important;
    border: none !important;
    border-radius: 20px !important;
}

.form-control::placeholder {
    color: white !important;
}

.submitButton {
    font-weight: 500 !important;
    font-size: 20px !important;
}

.mediaImg {
    width: 10%;
}

#rebuildImage {
    border-radius: 20px 0px 0px 20px;
}

.contact {
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}

/*  #############################  mobile ########################### */

@media only screen and (max-width: 767px) {
    .contact {
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }

    .fs-2-7vw {
        font-size: 30px;
    }
    .fs-2vw {
        font-size: 20px;
    }
    #rebuildImage {
        border-radius: 20px 20px 0px 0px;
    }
}

/*  #############################  mobile ########################### */
@media only screen and (max-width: 576px) {

    .fs-30 {
        font-size: 16px;
    }

    .mediaImg {
        width: 15%;
    }


}